[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
; Environment=DISPLAY=:0
; Environment=HOME=/home/${USER}
; Type=simple
ExecStart=/bin/kanata --cfg /home/${USER}/.config/kanata/config.kbd
Restart=always

[Install]
WantedBy=default.target
